@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  background-color: azure;
}

@layer components {
  .field {
    @apply w-full my-2 p-3 border border-black rounded-xl outline-none;
    box-shadow: 4px 4px 0px 0px black;
  }
}
