@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

.progress-ring__circle {
  stroke-dasharray: 400, 400;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@layer components {
  .field {
    @apply w-full my-2 p-3 border border-black rounded-xl outline-none;
    box-shadow: 4px 4px 0px 0px black;
  }
}
